# **Notebook Projet**

### Import

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **I. Partie 1 : Notebook d’exploration visuelle complète**

### 1) Fiche synthétique des données : source, période couverte, volume, colonnes importantes.

In [ ]:
df = pd.read_excel("/root/code/project-streamlit/Projet-data-vis/data/online_retail_II.xlsx")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

Source

In [9]:
source = "Online Retail II Dataset"
print("Source :", source)

Source : Online Retail II Dataset

Période couverte

In [10]:
date_min = df['InvoiceDate'].dt.date.min()
date_max = df['InvoiceDate'].dt.date.max()
print("Données de", date_min, "à", date_max)

Données de 2009-12-01 à 2010-12-09

Volume

In [13]:
volume=df.shape
print("Volume des données :", volume)

Volume des données : (525461, 8)

Colonnes importantes

In [16]:
print("Colonnes du dataset :")
for col in df.columns:
    print("-",col)
print("Il y a ", len(df.columns), "colonnes au total.")

Colonnes du dataset :
- Invoice
- StockCode
- Description
- Quantity
- InvoiceDate
- Price
- Customer ID
- Country
Il y a  8 colonnes au total.

### 2) Dictionnaire des variables : nom, type, sémantique, unités/valeurs.

### 3) Qualité des données : valeurs manquantes, doublons, outliers, règles d’annulation (factures InvoiceNo commençant par "C"), granularité temporelle.

### 4) Graphiques visuels (6-8 graphes) :distributions; saisonnalités/tendances des ventes; répartition pays; mix grossiste/détaillant; premier aperçu des cohortes; premier profil RFM

### 5) Questions d'analyses pour mieux pour cadrer l’appli : exemples. quelles cohortes décrochent ? quels segments RFM sont à forte valeur ? quel impact des retours ?

# **Partie 2 : Application Streamlit**

### 1) rétention par cohorte d’acquisition

### 2) CLV par segment et au global

### 3) Segments RFM à activer

### 4) Scénarios (remise, marge, +rétention) avec calcul immédiat de l’impact (CLV, CA et rétention)